#result div {
  border: black 1px solid;
    margin-bottom: 38px;
    padding: 10px;
}

//MOBILE NAV 

.header-menu {
   transition:none !important;
}
  .header-menu-nav-list {
    transform: translatey(0) !important;
  }

.header-menu-actions, .header-menu-cta {
    transition: none !important;
}



//HOME BACKGROUND MOVING GRID LINES
  section[data-section-id="6502207bafc30e35d6ebd9fe"] {
    height:90vh;
  }

section[data-section-id="6502207bafc30e35d6ebd9fe"] .section-border .section-background {
	background: url(https://images.squarespace-cdn.com/content/65022074520ebd181f024ee1/c4c82071-f01b-403c-bd47-7b14297f873b/animatedgrid.gif?content-type=image%2Fgif);
   //background-position: right -154px bottom -190px, top -210px left -280px;
	background-size: contain;
  background-position: center bottom -100px;
	background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  section[data-section-id="6502207bafc30e35d6ebd9fe"] {
       height:90vh;
  }
	section[data-section-id="6502207bafc30e35d6ebd9fe"] .section-border .section-background {
  background-position: center bottom;
	//	background-size: 60%;
  
	}
}
//HOME BACKGROUND MOVING GRID LINES



//360 PANORAMA section[data-section-id="650b7258160c6c0ac4bf0f50"]
section[data-section-id="650b7258160c6c0ac4bf0f50"] .section-border .section-background {
	background: url(https://static1.squarespace.com/static/65022074520ebd181f024ee1/t/65173a8d03bafd1c875af5bf/1696021133247/protractorAsset+17.png);
	background-position: -75px;
	background-size: 150px;
	background-repeat: no-repeat;
}
@media screen and (max-width: 640px) {
  section[data-section-id="650b7258160c6c0ac4bf0f50"] {
  min-height:70vh !important;
  }
  #block-yui_3_17_2_1_1696015559802_15040 .sqs-image {
    justify-content:flex-end;
  }
}
//360 PANORAMA



//3D SECTION section[data-section-id="650b712bd26ca562e23af4ec"]
section[data-section-id="650b712bd26ca562e23af4ec"] .section-border .section-background {
	background: url(https://static1.squarespace.com/static/65022074520ebd181f024ee1/t/6511cb10adbee179ed6b50b8/1695664912090/wavy+gridAsset+7.png);
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  section[data-section-id="650b712bd26ca562e23af4ec"] {
  min-height:70vh !important;
  }
	section[data-section-id="650b712bd26ca562e23af4ec"] .section-border .section-background {
		background-size: 160%;
	}
  #block-yui_3_17_2_1_1696015559802_3718 .sqs-image {
    justify-content:flex-end;
  }
}
//END 3D SECTION


//COMPARE PROJECT AT PRECISE TIME section[data-section-id="650e1bb394726a5d95190c94"]
section[data-section-id="650e1bb394726a5d95190c94"] .section-border .section-background {
	background: url(https://static1.squarespace.com/static/65022074520ebd181f024ee1/t/653d6a49edc7fb5de3aeccae/1698523721973/circles+graphicAsset+29.png), url(https://static1.squarespace.com/static/65022074520ebd181f024ee1/t/653d6a49edc7fb5de3aeccae/1698523721973/circles+graphicAsset+29.png);
	background-position: right -154px bottom -190px, top -210px left -280px;
	background-size: contain, contain;
	background-repeat: no-repeat, no-repeat;
}

@media screen and (max-width: 640px) {
  section[data-section-id="650e1bb394726a5d95190c94"] {
  min-height:70vh !important;
  }
	section[data-section-id="650e1bb394726a5d95190c94"] .section-border .section-background {
		background-position: 110% 270%;
		background-size: 60%;
	}
}
//COMPARE PROJECT





//VIRTUAL INTERIOR WALKTHROUGHS section[data-section-id="651737924e94a9746e357c1e"]
section[data-section-id="651737924e94a9746e357c1e"] .section-border .section-background {}

@media screen and (max-width: 640px) {
section[data-section-id="651737924e94a9746e357c1e"] {
  min-height:70vh !important;
  }
}
//VIRTUAL INTERIOR WALKTHROUGHS 


  

//MASTERPLAN OVERLAY section[data-section-id="650b7129788ab74d3e165ac9"]
section[data-section-id="650b7129788ab74d3e165ac9"] .section-border .section-background {
	background: url(https://static1.squarespace.com/static/65022074520ebd181f024ee1/t/653ed83c5ebead6e7c587f50/1698617405016/masterplan+lines+bnackgroundAsset+31.png)
}
@media screen and (max-width: 640px) {
  section[data-section-id="650b7129788ab74d3e165ac9"] {
     min-height:70vh !important;
  }
  #block-yui_3_17_2_1_1696015559802_12682 .sqs-image {
    justify-content:flex-end;
  }
}
//MASTERPLAN OVERLAY 



//TEAM ANNOTATION section[data-section-id="65358c217d16a71e9afadbca"]
section[data-section-id="65358c217d16a71e9afadbca"] .section-border .section-background {
	background-color: #999999;
}

@media screen and (max-width: 640px) {
section[data-section-id="65358c217d16a71e9afadbca"]{
  min-height:70vh !important;
  }
  #block-yui_3_17_2_1_1698003122243_6593 .sqs-image {
    justify-content:flex-end;
  }
}
//TEAM ANNOTATION



//FINAL SECTION BEFORE FOOTER
section[data-section-id="650b71283de0416e5ac5423e"] {
  min-height:70vh !important;
}
//FINAL SECTION BEFORE FOOTER




//FOOTER markdown align center
#block-yui_3_17_2_1_1698530206804_28076 {
  text-align:center;
}
//FOOTER 


//HOME PAGE SCROLL ANIMATED CSS

.icon-scroll,
.icon-scroll:before {
	position: absolute;
	left: 50%;
}

.icon-scroll {
  transition: opacity 1s;
  opacity:0;
	width: 40px;
	height: 70px;
	margin-left: -20px;
	top: 50%;
	margin-top: -35px;
	box-shadow: inset 0 0 0 1px #fff;
	border-radius: 25px;
}

.icon-scroll:before {
	content: '';
	width: 8px;
	height: 8px;
	background: #fff;
	margin-left: -4px;
	top: 8px;
	border-radius: 4px;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: scroll;
}

@-moz-keyframes scroll {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(46px);
	}
}

@-webkit-keyframes scroll {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(46px);
	}
}

@-o-keyframes scroll {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(46px);
	}
}

@keyframes scroll {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(46px);
	}
}


.header-burger {
  //  visibility: hidden;
}

//FLASHING CONTACT BUTTON
@keyframes colorChange {
    0% {
    background-color: #e53903;
    color:white;
  }
  33% {
    background-color: var(--tweak-form-block-button-background-color);
    color:black;
  }
  66% {
    background-color: #e53903;
    color:white;
  }
  100% {
    background-color: var(--tweak-form-block-button-background-color);
    color:black;
  }
}

#block-yui_3_17_2_1_1695248445095_10610 button.button-flash {
  animation: colorChange 0.7s;
}


//smooth scroll
html {
	scroll-behavior: smooth;
}