<header data-bs-theme="light">
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container">
            <a class="navbar-brand {{ if .IsHome }} active {{ end }} " href="{{ .Site.Home.Permalink }}">
                <img class=""
                    src="https://images.squarespace-cdn.com/content/v1/6424bb54bd8dbd45e169a0a1/0bd039a5-9033-4b7b-bbd8-f9a388aa01c3/logo+no+text.png?format=300w"
                    alt="CMFW Media logo" style="width:100px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">


                    {{ $currentPage := . }}

                    {{ range .Site.Menus.main.ByWeight }}

                    {{ if .HasChildren }}
                    <li class="nav-item dropdown">
                        <a class='nav-link dropdown-toggle  {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}'
                            href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ .Title }}
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {{ range .Children }}
                            <li>
                                <a class='dropdown-item  {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}'
                                    href="{{ .URL }}"> {{ .Title }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>

                    {{ else }}
                    <li class="nav-item">
                        <a class='nav-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}'
                            aria-current="page" href="{{ absURL .URL }}"> {{ .Title }}</a>
                    </li>

                    {{ end }}
                    {{ end }}

                </ul>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-dark me-2">Login</button>
                </div>
            </div>
        </div>
    </nav>
</header>