{{ define "main" }}


  <img class="d-block mx-auto mb-4"
    src="https://images.squarespace-cdn.com/content/v1/6424bb54bd8dbd45e169a0a1/0bd039a5-9033-4b7b-bbd8-f9a388aa01c3/logo+no+text.png?format=300w"
    alt="CMFW Media logo" style="width:182px">
  <h1>CMFW Media</h1>
  <p class="lead">This is the homepage for CMFW Media, inc. CMFW Media specializes in aerial and ground
    photographic services catered towards real estate, construction, and anything related to project
    tracking.</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
  </p>



{{ end }}