{{ define "main" }}

<main class="flex-shrink-0">
  <div class="container">
    {{/*  <h1 class="display-3 fw-bold">CMFW Media</h1>
    <p class="lead">This is the homepage for CMFW Media, inc. CMFW Media specializes in aerial and ground
      photographic services catered towards real estate, construction, and anything related to project
      tracking.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>  */}}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <div class="col-md-8 p-lg-8 mx-auto">
        <h1 class="display-3 fw-bold">Omaha's Premier Doers</h1>
        <h3 class="fw-normal text-muted mb-3">Photography. Drones. Graphic Design.</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
          <a class="icon-link" href="#">
            Learn more
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
          <a class="icon-link" href="#">
            View Companies
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

  </div>
</main>


{{ end }}